table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #53a6dc}

th {
    background-color:#2280c6;
    color: white;
}

label {
  width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
  width: 100%;
    background-color:   #2280c6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
  background-color: #FF5722;
}

app-header {
  padding: 0%;
  margin: 0%;
}
