table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

tr:last-child {
    background-color: #53a6dc;
}

th {
    background-color:#2280c6;
    color: white;
}

app-header {
  padding: 0%;
  margin: 0%;
}

.edit-data {
    float: right;
}
.edit-data button {
    float: right;
}
.edit-buttons {
    text-align: center;
    clear: both;
    width: 100%;
}
.edit-buttons button{
    width: 30%;
    margin: 4px 1%;
}
.data-input {
    text-align: center;
}
.stringcpy {
    text-align: center;
}
.stringcpy input {
    width: 95%;
    margin-bottom: 5px;
}
.stringenter {
    text-align: center;
}
.stringenter input {
    width: 95%;
}
.stringenter button {
    float: right;
}