<span class="gameCounter">{{gameCounter}}</span>
<button class="newEntry" *ngIf="newGame == false && ramschTime == false && heartSoloTime == false" (click)="newEntry()">Neuer Eintrag</button>



<div class="newgame" *ngIf="newGame == true">
  <div>
    <p>Spieltyp wählen:</p>
    <button *ngFor="let gametype of gameTypes" (click)="setGameType(gametype)" [class.active]="gametype === selectedGameType" class="btn-grp">{{gametype}}</button>
  </div>
  <div *ngIf="playerCount != 0 && selectedGameType != 'Ramsch'" (change)="test()">
    <p>Spieler:</p>
    <button *ngFor="let player of players" (click)="setPlayer(player.name)" [class.active]="player.name === selectedPlayer[0] || player.name === selectedPlayer[1]" class="btn-grp">{{player.name}}</button>
  </div>
  <div *ngIf="playerCount == playerSelected && playerCount != 0">
    <p>Spieler gewonnen?</p>
    <button (click)="setPlayerWon(1)" [class.active]="playerWon == 1" class="btn-grp">Ja</button>
    <button (click)="setPlayerWon(2)" [class.active]="playerWon == 2" class="btn-grp">Nein</button>
  </div>
  <div *ngIf="playerWon != 0 && selectedGameType != 'Bettler'">
    <p>Laufende:</p>
    <button (click)="setRunnings(1)" [class.active]="runnings == 1" class="btn-grp">Keine</button>
    <button (click)="setRunnings(3)" [class.active]="runnings == 3" class="btn-grp">3</button>
    <button (click)="setRunnings(4)" [class.active]="runnings == 4" class="btn-grp">4</button>
    <button (click)="setRunnings(5)" [class.active]="runnings == 5" class="btn-grp">5</button>
    <button (click)="setRunnings(6)" [class.active]="runnings == 6" class="btn-grp">6</button>
    <button (click)="setRunnings(7)" [class.active]="runnings == 7" class="btn-grp">7</button>
    <button (click)="setRunnings(8)" [class.active]="runnings == 8" class="btn-grp">8</button>
  </div>
  <div *ngIf="runnings != 0">
    <p>Schneider:</p>
    <button (click)="setTailor(1)" [class.active]="tailor == 1" class="btn-grp">Ja</button>
    <button (click)="setTailor(2)" [class.active]="tailor == 2" class="btn-grp">Nein</button>
    <button (click)="setTailor(3)" [class.active]="tailor == 3" class="btn-grp">Schwarz</button>
  </div>
  <div *ngIf="tailor != 0 || (selectedGameType == 'Bettler' && playerWon != 0)">
    <p>Kontra?</p>
    <button (click)="setContra(1)" [class.active]="contra == 1" class="btn-grp">Ja</button>
    <button (click)="setContra(2)" [class.active]="contra == 2" class="btn-grp">Nein</button>
  </div>
  <div *ngIf="selectedGameType == 'Ramsch'">
    <p>Gewinner:</p>
    <button *ngFor="let player of players" (click)="setRamschWinner(player.name)" [class.active]="player.name === ramschWinner" class="btn-grp">{{player.name}}</button>
  </div>
  <div *ngIf="ramschWinner != ''">
    <p>Verlierer:</p>
    <button *ngFor="let player of players" (click)="setRamschLooser(player.name)" [class.active]="player.name === ramschLooser" class="btn-grp">{{player.name}}</button>
  </div>
  <button *ngIf="contra != 0 || ramschLooser != 0" (click)="calc()">Fertig</button>
</div>
