.newgame {
    text-align: center;
}
.newgame div p {
    margin-bottom: 1px;
    margin-top: 5px;
    font-weight: bold;
}

button.active {
    background-color: #fb8c00;
}
.btn-grp {
    padding: 5px 0;
    width: 47%;
}
p {
  text-align: center;
}
.gameCounter {
    font-weight: bold;
    color: #2280c6;
    margin: 8px 0;
}
.specialGame {
    text-align: center;
}
.add-game {
  text-align: center;
}
.add-game button i {
  padding-top: 5px;
}
